<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouwo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gouwo.model.ArticleModel">
        <id column="article_id" property="articleId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="title_page" property="titlePage" />
        <result column="label" property="label" />
        <result column="rent_type" property="rentType" />
        <result column="rent" property="rent" />
        <result column="publisher" property="publisher" />
        <result column="release_time" property="releaseTime" />
        <result column="release_location" property="releaseLocation" />
        <result column="article_status" property="articleStatus" />
        <result column="read_amount" property="readAmount" />
        <result column="like_amount" property="likeAmount" />
        <result column="collect_amount" property="collectAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id, title, content, title_page, label, rent_type, rent, publisher, release_time, release_location, article_status, read_amount, like_amount, collect_amount
    </sql>

<!--    <select id="getArticleInfoList" resultType="com.gouwo.model.ArticleModel">-->
<!--        SELECT * FROM ess_article WHERE label=#{label}-->
<!--    </select>-->
</mapper>
