<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouwo.mapper.EssCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gouwo.model.EssCommentModel">
        <id column="comment_id" property="commentId" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="review_content" property="reviewContent" />
        <result column="review_time" property="reviewTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, article_id, user_id, review_content, review_time
    </sql>

</mapper>
