<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouwo.mapper.PeoMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gouwo.model.PeoMenuModel">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="icon" property="icon" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="hidden" property="hidden" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, menu_name, icon, parent_id, level, sort, hidden, create_time
    </sql>

</mapper>
