<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouwo.mapper.PeoRentTimelineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gouwo.model.PeoRentTimelineModel">
        <id column="rent_timeline_id" property="rentTimelineId" />
        <result column="user_id" property="userId" />
        <result column="rent" property="rent" />
        <result column="rent_start_time" property="rentStartTime" />
        <result column="rent_end_time" property="rentEndTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rent_timeline_id, user_id, rent, rent_start_time, rent_end_time
    </sql>

</mapper>
