<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouwo.mapper.HouRoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gouwo.model.HouRoomModel">
        <id column="room_id" property="roomId" />
        <result column="homeowner" property="homeowner" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="rental_status" property="rentalStatus" />
        <result column="current_tenant" property="currentTenant" />
        <result column="current_rent" property="currentRent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        room_id, homeowner, area, address, rental_status, current_tenant, current_rent
    </sql>

</mapper>
